diagrammes/

# Racine du projet
diagrammes/
node_modules/
dist/
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Backend
prototype-backend/.git/
prototype-backend/node_modules/
prototype-backend/dist/
prototype-backend/.env
prototype-backend/coverage/
prototype-backend/*.log
prototype-backend/.gitignore
prototype-backend/.gitattributes

# Frontend
prototype-frontend/.git/
prototype-frontend/node_modules/
prototype-frontend/dist/
prototype-frontend/dis.nuxt/
prototype-frontend/.env
prototype-frontend/coverage/
prototype-frontend/*.log

# VSCode & IDE
.vscode/
.idea/
*.swp

# Docker
**/docker-compose.override.yml
**/.docker/